Others
*.pyc
*~
*.dat
*.zip
ART/doc
*.html
*.pdf
*.png
*.jpg
*.mat
*.tour
*.gz
*.gif
*.html
*.pdf
*.npy

SOM/demos
ANN_model/digits
CART/*.txt
Decision_tree/*.txt
K-NN/digits
Linear_reg/*.txt
Linear_reg/Via_book
Logistic_reg/*.txt
Logistic_reg/CH05
NaiveBayes/email
NaiveBayes/From_in_action
DeepLearning/sparse_coding/octave
